/* HTML5 Boilerplate  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
a {
  color: #00e;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:valid,
textarea:valid,
/*input:invalid, textarea:invalid { background-color: #f0dddd; }*/,
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html {
  -webkit-font-smoothing: antialiased;
  font-family: "proxima-nova";
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "futura-pt", "Helvetica Neue", "Arial";
}
.wrap {
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  width: 500px;
  padding: 20px 50px 0 50px;
  margin: auto;
}
.wrap a {
  text-decoration: none;
  color: #000;
}
.wrap a:hover {
  color: #a73715;
}
.wrap nav a,
.wrap article p a {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 2px;
}
.wrap p {
  font-size: 15px;
  line-height: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4d4d4d;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
}
.wrap header.site-header {
  margin-bottom: 50px;
}
.wrap header.site-header hgroup {
  overflow: hidden;
  margin-top: 30px;
}
.wrap header.site-header h1#logo {
  margin: 0 30px 0 0;
  display: block;
  display: inline-block;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  float: left;
}
.wrap header.site-header h1#logo a {
  background: #f00 url("images/logo.png") center no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 150px;
  text-indent: -10000em;
  display: block;
}
.wrap header.site-header h2 {
  font-size: 26px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.wrap header.site-header h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
}
.wrap header.site-header h4 a {
  color: #999;
}
.wrap header.site-header .bio {
  font-size: 16px;
  color: #999;
  margin: 10px 0;
}
.wrap header.site-header small {
  font-size: 11px;
  font-weight: bold;
}
.wrap header.site-header .info {
  float: left;
  width: 320px;
  display: inline-block;
}
.wrap header.site-header nav a {
  text-decoration: none;
  color: #333;
  margin-right: 30px;
  font-size: 11px;
  font-weight: normal;
  font-family: "droid-sans-mono", Menlo, Monaco, 'Lucida Console', monospace;
}
.wrap .content-blog article.post,
.wrap .content-blog article.page {
  position: relative;
  margin-bottom: 120px;
/* Images */
}
.wrap .content-blog article.post h2,
.wrap .content-blog article.page h2 {
  margin: 0 0 30px 0;
}
.wrap .content-blog article.post h2 a,
.wrap .content-blog article.page h2 a {
  color: #000;
  position: relative;
  display: block;
}
.wrap .content-blog article.post h2 a:hover,
.wrap .content-blog article.page h2 a:hover {
  color: #2a94ca;
}
.wrap .content-blog article.post h2.link a .anchor,
.wrap .content-blog article.page h2.link a .anchor {
  height: 14px;
  max-height: 100%;
  margin-top: -5px;
  margin-left: 6px;
  opacity: 0.3;
}
.wrap .content-blog article.post h2.link a span,
.wrap .content-blog article.page h2.link a span {
  border-bottom: 1px solid #f1f1f1;
  display: inline-block;
}
.wrap .content-blog article.post h2.link a:hover span,
.wrap .content-blog article.page h2.link a:hover span {
  border-color: #ccc;
}
.wrap .content-blog article.post h2.link a:hover .anchor,
.wrap .content-blog article.page h2.link a:hover .anchor {
  opacity: 1;
}
.wrap .content-blog article.post time,
.wrap .content-blog article.page time {
  position: absolute;
  font-family: "droid-sans-mono", Menlo, Monaco, 'Lucida Console', monospace;
  font-size: 12px;
  color: #666;
  top: 10px;
  text-transform: uppercase;
  font-weight: 400;
  width: 140px;
  font-size: 10px;
  left: -188px;
  text-align: right;
}
.wrap .content-blog article.post time i,
.wrap .content-blog article.page time i {
  float: right;
  background: #eee;
  border-radius: 100px;
  height: 5px;
  width: 5px;
  margin-top: 4px;
  margin-left: 20px;
}
.wrap .content-blog article.post p,
.wrap .content-blog article.page p,
.wrap .content-blog article.post ul,
.wrap .content-blog article.page ul,
.wrap .content-blog article.post blockquote,
.wrap .content-blog article.page blockquote,
.wrap .content-blog article.post ol,
.wrap .content-blog article.page ol,
.wrap .content-blog article.post .prettify,
.wrap .content-blog article.page .prettify {
  margin: 20px 0;
}
.wrap .content-blog article.post p,
.wrap .content-blog article.page p,
.wrap .content-blog article.post ul li,
.wrap .content-blog article.page ul li {
  line-height: 25px;
  font-size: 15px;
  color: #4d4d4d;
}
.wrap .content-blog article.post ul,
.wrap .content-blog article.page ul,
.wrap .content-blog article.post ol,
.wrap .content-blog article.page ol {
  padding: 0;
  margin-left: 18px;
}
.wrap .content-blog article.post ul,
.wrap .content-blog article.page ul {
  list-style: square;
}
.wrap .content-blog article.post ul li,
.wrap .content-blog article.page ul li {
  margin: 5px 0;
}
.wrap .content-blog article.post blockquote,
.wrap .content-blog article.page blockquote {
  border-left: 8px solid #2acb5b;
  color: #666;
  padding: 0 0 0 20px;
}
.wrap .content-blog article.post blockquote p:last-child,
.wrap .content-blog article.page blockquote p:last-child {
  margin-bottom: 0;
}
.wrap .content-blog article.post .entry-content a,
.wrap .content-blog article.page .entry-content a {
  font-weight: normal;
  color: #000;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccc;
}
.wrap .content-blog article.post .entry-content a.view,
.wrap .content-blog article.page .entry-content a.view {
  border: 0;
}
.wrap .content-blog article.post .entry-content a:hover,
.wrap .content-blog article.page .entry-content a:hover {
  border-color: #333;
}
.wrap .content-blog article.post img,
.wrap .content-blog article.page img {
  max-width: 100%;
  height: auto;
  width: auto;
}
.wrap .content-blog article.post .embed-container,
.wrap .content-blog article.page .embed-container {
  position: relative;
  padding-bottom: 56.25%;
/* 16/9 ratio */
  padding-top: 30px;
/* IE6 workaround*/
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
}
.wrap .content-blog article.post .embed-container iframe,
.wrap .content-blog article.page .embed-container iframe,
.wrap .content-blog article.post .embed-container object,
.wrap .content-blog article.page .embed-container object,
.wrap .content-blog article.post .embed-container embed,
.wrap .content-blog article.page .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrap .content-blog article.post p < code,
.wrap .content-blog article.page p < code {
  width: 100%;
  display: none;
}
.wrap .content-blog article.post code,
.wrap .content-blog article.page code,
.wrap .content-blog article.post pre,
.wrap .content-blog article.page pre {
  border: none;
  display: block;
  border: 1px solid #d2d2d2;
  background-color: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -50px;
  font-size: 13px;
  width: auto;
  border-left: none;
  border-right: none;
  padding: 20px 50px;
  width: 500px;
}
.wrap nav.pagination {
  margin: 0 0 40px 0;
}
.wrap nav.pagination a {
  display: inline-block;
  width: 48.99%;
  font-size: 13px;
  color: #333;
  padding: 20px 0;
  text-transform: uppercase;
  border-right: 4px solid #fff;
  text-align: center;
  background: #eee;
  font-weight: bold;
  text-decoration: none;
}
.wrap nav.pagination a:hover {
  background: #333;
  color: #fff;
}
.copyright {
  position: fixed;
  text-decoration: none;
  right: 20px;
  bottom: 10px;
  width: 100px;
  text-align: right;
  font-family: "droid-sans-mono", Menlo, Monaco, 'Lucida Console', monospace;
  font-size: 11px;
  color: #999;
}
/* =Comments
-------------------------------------------------------------- */
.comments-area h2 {
  margin-top: 0;
}
ol.commentlist {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 500px;
}
ol.commentlist li.comment {
  border-bottom: 1px solid #e7e7e7;
  line-height: 24px;
  margin: 0 0 24px 0;
  padding: 0 0 24px 60px;
  position: relative;
}
ol.commentlist li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
ol.commentlist .avatar {
  position: absolute;
  border-radius: 100px;
  top: 4px;
  left: 0;
}
ol.commentlist .comment-author {
  font-weight: bold;
  font-size: 13px;
}
ol.commentlist .comment-author cite {
  color: #000;
  font-style: normal;
  font-weight: bold;
}
ol.commentlist .comment-author .says {
  font-style: italic;
}
ol.commentlist .comment-meta {
  font-size: 12px;
  margin: 0 0 18px 0;
}
ol.commentlist .comment-meta a:link,
ol.commentlist .comment-meta a:visited {
  color: #888;
  text-decoration: none;
}
ol.commentlist .comment-meta a:active,
ol.commentlist .comment-meta a:hover {
  color: #ff4b33;
}
.reply {
  font-size: 12px;
  padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
  color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
  color: #ff4b33;
}
.commentlist .children {
  list-style: none;
  margin: 0;
}
.commentlist .children li {
  border: none;
  margin: 0;
}
.nopassword,
.nocomments {
  display: none;
}
#comments .pingback {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 18px;
  padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
  margin-top: -6px;
}
#comments .pingback p {
  color: #888;
  display: block;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
#comments .pingback .url {
  font-size: 13px;
  font-style: italic;
}
input[type=submit] {
  color: #333;
}
#respond {
  position: relative;
}
#respond p {
  margin: 0;
}
#respond .comment-notes {
  margin-bottom: 1em;
}
.form-allowed-tags {
  line-height: 1em;
}
.children #respond {
  margin: 0 48px 0 0;
}
h3#reply-title {
  margin: 18px 0;
}
#comments-list #respond {
  margin: 0 0 18px 0;
}
#comments-list ul #respond {
  margin: 0;
}
#cancel-comment-reply-link {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
article a.comment-reply-link {
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
}
#respond .required {
  margin-left: -10px;
  color: #ff4b33;
  font-weight: bold;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
  color: #888;
  font-size: 12px;
  width: 70px;
  display: inline-block;
}
#respond .comment-form-comment label {
  padding: 0;
  text-align: left;
}
#respond input[type="text"] {
  margin-bottom: 14px;
  padding: 4px;
  margin-right: 10px;
  border: 0;
  border-bottom: 1px solid #ccc;
}
#respond input[type="text"]:focus {
  outline: 0;
  border-color: #333;
}
.comment-form-comment label {
  display: block;
}
#respond textarea {
  border-color: #ccc;
}
#respond textarea:focus {
  outline: 0;
}
.logged-in-as {
  font-size: 11px;
}
ol.commentlist li.comment.byuser {
  margin-top: 30px;
}
ol.commentlist li.comment.byuser #respond .form-submit {
  margin-left: 0;
}
#respond #submit {
  margin: 0 0 9px;
  background: #000;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  width: auto;
  border: 0;
  color: #fff;
  margin-bottom: 50px;
}
#respond textarea {
  width: 96%;
  margin-bottom: 10px;
  padding: 2%;
}
#respond .form-allowed-tags {
  color: #888;
  font-size: 12px;
  line-height: 18px;
}
#respond .form-allowed-tags code {
  font-size: 11px;
}
#respond .form-submit {
  margin: 12px 0 0 0;
}
#respond .form-submit input {
  font-size: 14px;
  width: auto;
}
.form-allowed-tags,
.comment-notes {
  display: none;
}
@media only screen and (min-width: 35em) {
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
