/* HTML5 Boilerplate  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
a {
  color: #00e;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html {
  -webkit-font-smoothing: antialiased;
}
a.twitter-button {
  background: url("images/twitter-logo.png") no-repeat;
  width: 30px;
  height: 30px;
  position: fixed;
  right: 20px;
  top: 20px;
  display: block;
}
.wrap {
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  width: 500px;
  padding: 20px 50px 0 50px;
  margin: auto;
}
.wrap a {
  text-decoration: none;
  color: #000;
}
.wrap a:hover {
  color: #a73715;
}
.wrap nav a,
.wrap article p a {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 2px;
}
.wrap p {
  font-size: 15px;
  line-height: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4d4d4d;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
}
.wrap header {
  margin-bottom: 50px;
}
.wrap header hgroup {
  overflow: hidden;
  margin-top: 20px;
}
.wrap header h1#logo {
  margin: 0 20px 0 0;
  display: block;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  float: left;
}
.wrap header h1#logo a {
  background: #f00;
  border-radius: 5px;
  height: 150px;
  text-indent: -10000em;
  display: block;
}
.wrap header h2 {
  margin: 0;
  padding: 0;
}
.wrap header h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
}
.wrap header nav a,
.wrap header time a {
  font-family: Monaco, 'Lucida Console', monospace;
}
.wrap header nav a {
  text-decoration: none;
  color: #333;
  margin-right: 30px;
  font-size: 10px;
  font-weight: normal;
}
.wrap article {
  position: relative;
  margin-bottom: 120px;
/* Images */
}
.wrap article h2 {
  margin: 0 0 30px 0;
}
.wrap article h2 a {
  color: #000;
  position: relative;
  display: block;
}
.wrap article h2 a:hover {
  color: #2a94ca;
}
.wrap article h2.link a .anchor {
  height: 14px;
  max-height: 100%;
  margin-top: -5px;
  margin-left: 6px;
  opacity: 0.3;
}
.wrap article h2.link a span {
  border-bottom: 1px solid #f1f1f1;
  display: inline-block;
}
.wrap article h2.link a:hover span {
  border-color: #ccc;
}
.wrap article h2.link a:hover .anchor {
  opacity: 1;
}
.wrap article time {
  position: absolute;
  color: #999;
  top: 10px;
  text-transform: uppercase;
  font-weight: 400;
  width: 140px;
  font-size: 10px;
  left: -188px;
  text-align: right;
}
.wrap article time i {
  float: right;
  background: #eee;
  border-radius: 100px;
  height: 5px;
  width: 5px;
  margin-top: 4px;
  margin-left: 20px;
}
.wrap article p,
.wrap article ul,
.wrap article blockquote,
.wrap article ol,
.wrap article .prettify {
  margin: 20px 0;
}
.wrap article p,
.wrap article ul li {
  line-height: 25px;
  font-size: 15px;
  color: #4d4d4d;
}
.wrap article ul,
.wrap article ol {
  padding: 0;
  margin-left: 18px;
}
.wrap article ul {
  list-style: square;
}
.wrap article ul li {
  margin: 5px 0;
}
.wrap article blockquote {
  border-left: 8px solid #2acb5b;
  color: #666;
  padding: 0 0 0 20px;
}
.wrap article blockquote p:last-child {
  margin-bottom: 0;
}
.wrap article .entry-content a {
  font-weight: normal;
  color: #000;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccc;
}
.wrap article .entry-content a.view {
  border: 0;
}
.wrap article .entry-content a:hover {
  color: #0084ca;
  border-color: transparent;
}
.wrap article img {
  max-width: 100%;
  height: auto;
  width: auto;
}
.wrap article .embed-container {
  position: relative;
  padding-bottom: 56.25%;
/* 16/9 ratio */
  padding-top: 30px;
/* IE6 workaround*/
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
}
.wrap article .embed-container iframe,
.wrap article .embed-container object,
.wrap article .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrap nav.pagination {
  margin: 0 0 40px 0;
}
.wrap nav.pagination a {
  display: inline-block;
  width: 48.99%;
  font-size: 13px;
  color: #333;
  padding: 20px 0;
  text-transform: uppercase;
  border-right: 4px solid #fff;
  text-align: center;
  background: #eee;
  font-weight: bold;
  text-decoration: none;
}
.wrap nav.pagination a:hover {
  background: #333;
  color: #fff;
}
@media only screen and (min-width: 35em) {
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
